*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
.home-start{
    background-image: url(../images/cowbazar1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: rgba(76, 175, 80, 0.6);
    margin-bottom: 180px;
    padding: 0 150px;

}
.home-start h1{
    color: #fff;
    font-size: 60px;
    padding-top: 200px;
}
.home-start p{
    padding: 20px 0px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}
.home-start button,.explore-more button,.need-survive button{
    padding: 15px 25px;
    background-color: rgba(172, 6, 6, 0.961);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}
.explore-more{
    display: flex;
    padding: 10px 150px;
}
.explore-more .more-info{
    padding-right: 150px;
}
.explore-more .more-info h1{
    font-size: 45px;
    padding: 15px 0px;
}
.explore-more .more-info p{
    font-size: 18px;
    color:rgb(125, 122, 122);
    padding: 20px 0px;
    text-align: inter-word;
}
.explore-more .cow-see img,.need-survive img{
    border-radius: 15px;
}
.need-survive{
    display: flex;
    padding: 120px 150px;
}
.need-survive .read-survive{
    padding: 15px 100px;
}
.need-survive .read-survive h1{
    font-size: 45px;
    padding: 15px 0;
}
.need-survive .read-survive p{
    font-size: 18px;
    color: rgb(125, 122, 122);
    padding: 20px 0;
    text-align: justify;
}
.lives-depend{
   text-align: center;
}
.lives-depend hr{
    width: 50%;
    margin: auto;
}
.lives-depend h1{
    font-size: 45px;
}
.lives-depend p{
    font-size: 18px;
    color: rgb(125, 122, 122);
    padding: 20px 10px;
}
.money-card{
    padding: 100px 250px;
}
.calculation{
    display: flex;
}
.money-card-up,.money-card-down{
    display: flex;
}
.calculation i{
    font-size: 60px;
    color:rgba(172, 6, 6, 0.961);
    color:rgba(172, 6, 6, 0.961);
    padding: 0 20px;
}
.calculation .direct-help h2{
    font-size: 25px;
    padding-bottom: 20px;

}
.calculation .direct-help p{
    font-size: 18px;
    color: rgb(125, 122, 122);
    letter-spacing: 1px;
}
.money-card-up #first-help-card{
    padding: 50px 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:#e8e4dcee;
}
.money-card-up #second-help-card{
    padding: 50px 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:#e0dedc;
}
.money-card-down #third-help-card{
    padding: 50px 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:#ebe9e8;
}
.money-card-down #four-help-card{
    padding: 50px 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:#eaece8;
}
.gallery{
    padding-bottom: 120px;
}
.gallery .gallery-header{
    margin-bottom: 80px;
}
.gallery .gallery-header h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}
.gallery .gallery-header hr{
    width: 50%;
    margin: auto;
}
.gallery .gallery-all{
    display: flex;
    padding: 20px 50px;
    text-align: center;
}
.gallery .gallery-all img{
    width: 90%;

}
